.pesquisar{
    background-color: #fff;
    padding: 70px 0px;
    margin: 0 auto;
    height: 500px;
}
.list-container {
    text-align: center;
    
}
input {
    border: 1px solid black;
    padding: 12px 24px;
    height: 40px;
    width: 70%; 
    border-radius: 1rem;
    font-family: 'Rajdhani', sans-serif;
}
.add-list {
    display: flex;
    justify-content: flex-start;
    display: inline-block;
}
button {
    border-radius: 1em;
    border: 0;
}    
.add-tsk {
    border: 1px solid transparent;
    padding: 10px 20px;
    box-shadow: 0 1px 2px 0px #666;
    border-radius: 4px;    
    background-color: #efefef;
    font-weight: bold;
    box-sizing: border-box;
    margin: 1em;
    font-family: 'Rajdhani', sans-serif;
}
.add-tsk:hover{
    background-color:#1472B2;
}