.header {
    padding: 30px;
    text-align: center;
    background-size: cover;
    height: 300px;
  }
  .header h1 {
    font-size: 40px;
  }
  .header img {
    width: 200px;
    height: 200px;
  }