
.container-formulário h2 {
  color:#402B19;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

.container-formulário form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
form{
  /* align-items: center; */
  border-radius: 5rem;
  border-top: 20px;
  text-align:center;
}
label {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align:left;
  font-family: 'Rajdhani', sans-serif;

}
form input,
form select,
form textarea{
  border: 1px solid rgb(106, 59, 104);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1.5rem;
}
form select{
  width: 71%;
}

textarea {
  height: 15vh;
  width: 71%;
}
  
.add-container {
  display: flex;
  justify-content: flex-start;
  display: inline-block;
}
button {
  border-radius: 1em;
  border: 0;
}    
.add-task {
  border: 1px solid transparent;
  padding: 10px 20px;
  box-shadow: 0 1px 2px 0px #666;
  border-radius: 4px;    
  background-color:#038C3E;
  font-weight: bold;
  box-sizing: border-box;
  margin: 1em;
  font-family: 'Rajdhani', sans-serif;
}
.add-task:hover{
  background-color:#F23005;
}
.cor-verde{
  height: 5px;
  background-color: #038C3E;
}